/*
이제 필요없는 페이지
*/
.planet-img {
  width: 100%;
  height: 100%;
  animation: rotateClockwise 30s linear infinite;
  margin: 50% auto;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
