.help-header {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 29px;
}
.help-text {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(60, 57, 57);
  text-align: center;
}

.help-container {
  display: grid;
  grid-template-rows: 0.7fr 1fr;
  gap: 80px;
  height: 87vh;
}

.path-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.6fr;
  gap: 1px;
  padding: 5% 29px 5% 29px;
}

.path-box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  background: #f9f9f9;
  margin: 5px 0px 5px 0px;
  border: 2px solid black;
  border-radius: 33px;
  height: 80%;
}
.path-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(60, 57, 57);
}

.help-explain-container {
  display: grid;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 20px;
}
.help-explain-text-short {
  padding: 29px 0px 0px 29px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #515151;
}
.help-explain-text-long {
  padding: 10px 0px 0px 29px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #515151;
  line-height: 1.3;
}
.help-helpfriends-loc {
  position: absolute;
  top: 190px;
  left: 150px;
}
.help-helpfriends {
  width: 110%;
  height: 110%;
}
-- .explain-box {
  background: #f9f9f9;
  border-radius: 20px;
  display: grid;
  margin: 30px 0px 30px 0px;
  grid-template-rows: 1fr 1fr;
}

.need-help-text {
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(60, 57, 57);
  text-align: center;
}

.need-help-text2 {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(60, 57, 57);
  text-align: center;
}

.path-icon {
  display: block;
  margin: auto;
}
