.header-history {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 29px;
}

.history-text {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(60, 57, 57);
  text-align: center;
}
.history-date {
  font-size: 12px;
  font-weight: bold; /* 글씨 굵게 */
  color: #333;
  margin-bottom: 4px; /* 날짜와 세부사항 사이의 간격 */
}
.history-meeter {
  font-size: 10px;
  font-weight: bold;
  color: #777;
}
.history-details {
  font-size: 8px;
  font-weight: bold;
  color: #777;
}

.history-container {
  display: grid;
  grid-template-rows: 7fr 0.5fr;
  height: 70vh;
  gap: 20px;
  padding: 2px 20px 20px 20px;

  max-height: 75vh;
}

.history-list {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  border: 0px solid rgb(213, 213, 213);
  overflow-y: auto;
}

.history-item {
  background: #ffffff; /* 배경색 변경 */
  border-radius: 16px; /* 더 커진 둥근 모서리 */
  padding: 3px 3px 3px 3px; /* 패딩 조정 */
  margin-bottom: 14px; /* 마진 조정 */
  /* display: flex;
  align-items: center;  */
  display: grid;
  grid-template-columns: 0.1fr 1fr 3.5fr 1.5fr;
  gap: 10px;
  box-shadow: 3px 15px 15px rgba(0, 0, 0, 0.03),
    -3px -3px 15px rgba(0, 0, 0, 0.03);
  height: 62px;
}
.history-item p {
  margin: 0;
  color: #333333;
}
.middle-sort {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* 색상은 JS 코드에서 인라인 스타일로 설정 */
}
.history-navigate > span {
  font-size: 24px; /* 화살표 크기 조정 */
  color: #ccc; /* 화살표 색상 조정 */
}
.history-info {
  display: flex;
  align-items: center;
}
.history-nickname {
  margin-left: 12px;
  font-weight: bold;
}

.report-button {
  font-size: 9px;
  width: 50px;
  height: 20px;
  background-color: #444444;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 10px;
  border: 0.2px solid rgb(213, 213, 213);
}

.button-select-delete-locate {
  display: flex;
  justify-content: flex-end;
  margin-right: 9%; /* 필요에 따라 조정 */
  margin-top: 6%;
}
.select-button {
  font-size: 9px;
  width: 35px;
  height: 20px;
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border: none;
}

.delete-all-button {
  font-size: 9px;
  width: 55px;
  height: 20px;
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border: none;
}
.choice-button {
  width: 13px;
  height: 13px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
}
.choice-button-active {
  width: 13px;
  height: 13px;
  background-color: #5786ff;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 0 1px gray;
}
.choice-button-locate {
  margin-top: -80%;
}

.delete-button {
  font-size: 16px;
  padding: 5px;
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
  text-align: center;
  border-radius: 8px;
  border: 0px solid #666666;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}
.delete-button-loc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-empty-text {
  text-align: center;
  margin-top: 8%;
  font-size: 16px;
  color: #cccbcb;
}

.history-modal-detail {
  width: 288px;
  height: 200px;
  border-radius: 15px;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4); /* 그림자 효과 추가 */
  display: block;
  margin: 60% auto;
}

.history-modal-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  height: 100%;
  gap: 5px;
}

.history-modal-text-big {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #444444;
}

.history-modal-text-small {
  font-size: 13px;
  font-weight: 700;
  text-align: center;

  color: #838383;
}

.history-modal-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.history-modal-buttons {
  height: 44px;
  width: 115px;
  border: 1.5px solid black;
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  font-size: 17px;
  font-weight: bold;
}
