.mypage-header {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 29px;
}

.mypage-text {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(60, 57, 57);
  text-align: center;
}

.mypage-container {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 0px solid black;
  gap: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.04),
    -5px -5px 10px rgba(0, 0, 0, 0.03);
}

.mypage-nick-level {
  padding: 20px 30px;
}
.mypage-nickname {
  font-size: 24px;
  font-weight: bold;
}
.mypage-level {
  font-size: 17px;
}
.myprofile {
  height: 70vh;
  padding: 29px;
}
.mypage-img-container {
  overflow: hidden;
}
.mypage-img {
  max-width: 400px; /* 이미지의 최대 너비를 부모 요소에 맞게 조정 */
  max-height: 400px; /* 이미지의 최대 높이를 부모 요소에 맞게 조정 */
  object-fit: contain; /* 이미지를 비율을 유지하며 컨테이너에 맞게 조정 */
  position: absolute;
  top: 15%;
  left: -5%;
}
.mypage-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */
}

.mypage-btn1 {
  margin-top: 15px;
  color: white;
  font-size: 22px;
  font-weight: 900;
  background-color: #c56fb2;
  border-radius: 21px;
  width: 253px;
  height: 43px;
  border: none;
}

.mypage-btn2 {
  margin-top: 15px;
  color: white;
  font-size: 22px;
  font-weight: 900;
  background-color: #f2d123;
  border-radius: 21px;
  width: 253px;
  height: 43px;
  border: none;
}
.mypage-btn3 {
  margin-top: 15px;
  color: white;
  font-size: 22px;
  font-weight: 900;
  background-color: #68d966;
  border-radius: 21px;
  width: 253px;
  height: 43px;
  border: none;
}
