.fontfamily {
  font-family: "Noto Sans KR", sans-serif;
}
.sfp-detail {
  display: block;
  margin: auto;
  margin-top: 45%;
  /* border: 0.1px solid black; */
  border-radius: 17px;
  width: 75%;
  height: 63%;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.sfp-container {
  display: grid;
  grid-template-rows: 0.5fr 5.7fr 2.3fr;
  gap: 40px;
  min-height: 93%;
  max-height: 93%;
  padding: 20px 10px;
}

.sfp-sfp {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.sfp-info-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 25px;
}

.sfp-info-age-locate-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 30px;
  padding-left: 3.5%;
  padding-right: 3.5%;
}

.sfp-info-holder {
  padding: 2%;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #9d9d9d;
  margin: auto;
  width: 90%;
  height: 70%;
  font-size: 12px;
}

.sfp-name-input {
  border: none;
  width: 85%;
  height: 100%;
  color: #9d9d9d;
  font-size: 12px;
}
.sfp-age-input {
  border: none;
  width: 55%;
  height: 100%;
  color: #9d9d9d;
  font-size: 12px;
}
.sfp-locate-input {
  border: none;
  width: 55%;
  height: 100%;
  color: #9d9d9d;
  font-size: 12px;
}
.sfp-animal-input {
  border: none;
  width: 67%;
  height: 100%;
  color: #9d9d9d;
  font-size: 12px;
}
.sfp-univ-input {
  border: none;
  width: 73%;
  height: 100%;
  color: #9d9d9d;
  font-size: 12px;
}
.sfp-body-input {
  border: none;
  width: 80%;
  height: 100%;
  color: #9d9d9d;
  font-size: 12px;
}
input:focus {
  outline: none;
}

.sfp-regist-button {
  width: 40%;
  height: 35%;
  border-radius: 20px;
  border: 2px solid #666666;
  font-size: 13px;
  color: #666666;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  margin-top: 15%;
  margin-left: 14%;
  margin-right: 5%;
}

.sfp-cancel-button {
  width: 25%;
  height: 35%;
  border-radius: 20px;
  border: 2px solid #666666;
  font-size: 13px;
  color: #666666;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
}

.sfp-button-loc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.friendsList {
  margin: 5px 0px 0px 0px;
  padding: 10px 29px 10px 29px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 0px solid rgb(213, 213, 213);
  overflow-y: auto;
}
.friends-item {
  background: #ffffff;
  border-radius: 16px;
  padding: 6px 3px 6px 0px;
  margin-bottom: 14px;
  display: grid;
  grid-template-columns: 0.1fr 2fr 4.9fr 1fr;
  gap: 5px;
  justify-content: space-between;
  box-shadow: 3px 15px 15px rgba(0, 0, 0, 0.03),
    -3px -3px 15px rgba(0, 0, 0, 0.03);
  /* height: 16%; */
}
.align-item {
  display: flex;
  align-items: center;
}
.withfriends-myinfo-modify-button {
  display: flex; /* 이미지를 중앙에 배치하기 위해 flex를 사용 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
}

.withfriends-myinfo-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.withfriends-myinfo-nickname-container {
  margin-top: 26%;
  margin-left: 15%;
}
.withfriendsContainer {
  display: grid;
  grid-template-rows: 7.1fr 0.5fr 1fr;
  gap: 10px;
  margin-top: 10px;
  min-height: 73vh;
  max-height: 73vh;
}
.btn-location {
  align-items: start;
  margin-top: -20%;
}
